body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f4f7fc;
    color: #333;
}

.header {
    background: linear-gradient(90deg, #1976d2, #42a5f5);
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 22px;
    margin: 0;
}

.backBtn {
    background-color: white;
    color: #1976d2;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.backBtn:hover {
    background-color: #e3f2fd;
    transform: scale(1.05);
}

.container {
    max-width: 450px;
    background-color: white;
    margin: 60px auto;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.8s ease;
}

.profilePic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #42a5f5;
    cursor: pointer;
}

.h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #1976d2;
    margin-bottom: 5px;
}

.p {
    font-size: 16px;
    color: #666;
}

.input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.input:focus {
    border-color: #42a5f5;
    box-shadow: 0 0 5px #90caf9;
}

.button {
    width: 95%;
    background-color: #82caff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    background-color: #1565c0;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #1976d2;
    color: white;
    margin-top: 50px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}