.header {
    background-color: #1c3870;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.sidebar {
    position: fixed;
    top: 50;
    left: -300px;
    width: 255px;
    height: 100vh;
    background-color: #1c3870;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 60px 20px;
    transition: left 0.3s ease-in-out;
    z-index: 100;
}

.sidebar.show {
    left: 0;

}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-size: 18px;
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: all 1s;
}

.nav a:hover {
    color: #ff8c1a;
}

.menuIcon {
    font-size: 26px;
    cursor: pointer;
    display: none;
}

.loginBtn {
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
}

.footerNew {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(135deg, #0b3d91, #f5b642);
    padding: 60px 40px;
    color: #fff;
    text-align: left;
    border-top: 3px solid #466f;
}

.footerNew h4 {
    color: #f1c15d;
    margin-bottom: 16px;
    font-size: 18px;
}

.footerCol ul {
    list-style: none;
    padding: 0;
}

.footerCol ul li {
    margin-bottom: 8px;
    cursor: pointer;
}

.footerCol img {
    margin-top: 10px;
    border-radius: 12px;
}

@media (max-width: 768px) {

    .menuIcon {
        display: block;
    }

    .nav {
        display: none;
        /* sembunyikan navbar utama di mobile */
    }

         .footerNew {
             flex-direction: column;
             align-items: center;
             text-align: center;
         }

   
}

@media (min-width: 769px) {
    .sidebar {
        display: none;
    }
}