.body {

    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #f4f7fc 0%, #e3f2fd 100%);
    color: #333;
    line-height: 1.6;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    background-color: #1c3870;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.sidebar {
    position: fixed;
    top: 50;
    left: -300px;
    width: 255px;
    height: 100vh;
    background-color: #1c3870;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 60px 20px;
    transition: left 0.3s ease-in-out;
    z-index: 100;
}

.sidebar.show {
    left: 0;

}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-size: 18px;
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: all 1s;
}

.nav a:hover {
    color: #ff8c1a;
}

.menuIcon {
    font-size: 26px;
    cursor: pointer;
    display: none;
}

.loginBtn {
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
}

.heroSection {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 80px 10%;
    height: 50vh;
   background-image: url("../../../../public/imagebebas/event-design-creative-lighting-1536x970.png");
    background-size: cover;
    background-position: center;
    animation: bgMove 8s infinite alternate ease-in-out;
    color: white;
    overflow: hidden;
}

.heroContent {
    max-width: 50%;
    animation: fadeInUp 1.2s ease;
}

.heroContent h1 {
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 15px;
    font-weight: 700;
}

.heroContent p {
    font-size: 1.1rem;
    color: #ff8c1a;
    margin-bottom: 25px;
}

.heroContent button {
    padding: 12px 26px;
    background: #fff;
    color: #0b3d91;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.heroContent button:hover {
    background: #ff8c1a;
    color: #fff;
    transform: scale(1.05);
}

.heroImage img {
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page {
    background: #f9f9f9;
    text-align: center;
    margin: 50px auto;
    max-width: 1200px;
    animation: fadeIn 0.6s ease;
}

.desc {
    color: #555;
}

.card {
    border-radius: 12px;
    padding: 30px;
    margin: 15px auto;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.card ul {
    list-style: none;
    padding: 0;
}

.card li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

/* .card img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
} */

.text strong {
    display: block;
    margin-bottom: 5px;
    color: #1976d2;
}

.backBtn {
    background: linear-gradient(90deg, #1976d2, #42a5f5);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.backBtn:hover {
    background: linear-gradient(90deg, #1565c0, #1976d2);
    transform: scale(1.05);
}

.footerNew {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(135deg, #0b3d91, #f5b642);
    padding: 60px 40px;
    color: #fff;
    text-align: left;
    border-top: 3px solid #466f;
}

.footerNew h4 {
    color: #f1c15d;
    margin-bottom: 16px;
    font-size: 18px;
}

.footerCol ul {
    list-style: none;
    padding: 0;
}

.footerCol ul li {
    margin-bottom: 8px;
    cursor: pointer;
}

.footerCol img {
    margin-top: 10px;
    border-radius: 12px;
}

.pageButton {
    background-color: #f1f1f1;
    border: none;
    color: #333;
    padding: 8px 14px;
    margin: 0 4px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pageButton:hover {
    background-color: #ddd;
}

.pageButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.activePage {
    background-color: #0b3d91;
    color: white;
}

@media (max-width: 600px) {

    .menuIcon {
        display: block;
    }

    .nav {
        display: none;
        /* sembunyikan navbar utama di mobile */
    }

    .page {

        margin: 5px auto;
        max-width: 500px;
        animation: fadeIn 0.6s ease;
    }

    .card li {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .heroSection {
        flex-direction: column;
        text-align: center;
        object-fit: cover;
        height: auto;
        padding: 60px 20px;
    }

    .heroContent {
        max-width: 100%;
    }

    .heroImage img {
        width: 260px;
        height: 260px;
        margin-top: 20px;
    }

    .footerNew {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 769px) {
    .sidebar {
        display: none;
    }
}