.body {

    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #f4f7fc 0%, #e3f2fd 100%);
    color: #333;
    line-height: 1.6;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    background: linear-gradient(90deg, #1976d2, #42a5f5);
    color: white;
    padding: 15px 25px;
}

.page {
    text-align: center;
    margin: 50px auto;
    max-width: 1200px;
    animation: fadeIn 0.6s ease;
}

.desc {
    color: #555;
}

.card {
    background-color: #e3f5fdee;
    border-radius: 12px;
    padding: 30px;
    margin: 15px auto;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.card ul {
    list-style: none;
    padding: 0;
}

.card li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
}

.text strong {
    display: block;
    margin-bottom: 5px;
    color: #1976d2;
}

.backBtn {
    background: linear-gradient(90deg, #1976d2, #42a5f5);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.backBtn:hover {
    background: linear-gradient(90deg, #1565c0, #1976d2);
    transform: scale(1.05);
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #1976d2;
    color: white;
    margin-top: 50px;
}

@media (max-width: 600px) {

    .page {

        margin: 5px auto;
        max-width: 500px;
        animation: fadeIn 0.6s ease;
    }

    .card li {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card img {
        width: 100px;
        height: 100px;
    }
}